:root {
  --rozmiar: 25vh;
  --przesuniecie: 40vh;
  --gra: 100vh;
  --white: white; /*whitesmoke*/
  --green: green;
  --orange: rgb(253, 101, 0);
  --yellow: yellow;
  --blue: blue;
  --red: red;
  --black: black;
  --skala: 0.95;
  --cyferki: 20vh;
  font-size: 2.8vw;
}
body {
  background-image: url(img/congruent_outline.png);
  overflow: hidden;
  margin: 0;
}
#pudelko {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--cyferki);
}
#gra {
  max-width: var(--gra);
  max-height: var(--gra);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.guzik {
  overflow: hidden;
  display: block;
  position: absolute;
  width: var(--rozmiar);
  height: var(--rozmiar);
  text-align: center;
  line-height: var(--rozmiar);
  border-radius: 100%;
  border: 2px black solid;
  background-color: #aaa;
  background-image: radial-gradient(
    hsla(0, 0%, 0%, 0.2),
    hsla(0, 0%, 0%, 0.1),
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0.1)
  );
  color: black;
  text-shadow: 0 0 15px hsla(0, 0%, 100%, 1), 0 2px 4px hsla(0, 0%, 0%, 0.7);
  box-shadow: inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
    inset 0 5px 20px hsla(0, 0%, 100%, 0.4), -8px 8px 5px hsla(0, 0%, 0%, 0.15),
    5px 18px 10px hsla(0, 0%, 0%, 0.2);
  user-select: none;
  transition: all 0.2s linear;
}

#pytanie {
  overflow: hidden;
  font-size: 0.4em;
  width: var(--przesuniecie);
  border-radius: 0%;
  color: white;
  background-color: black;
  text-shadow: none;
  border-radius: 50%;
  text-align: center;
  /* vertical-align:middle; */
  /* transition: 3s; */
}
#pytanie:hover {
  cursor: pointer;
  /* transform: scale(var(--skala)); */
}
#pytanie.malej {
  animation: malej 3s; /*tu  trzeba zaciagnac zmienna js */
}
div[id="1"] {
  color: black;
  background-color: var(--white);
  transform: translate(var(--przesuniecie));
}
div[id="1"]:hover {
  cursor: pointer;
  transform: translate(var(--przesuniecie)) scale(var(--skala));
}
div[id="2"] {
  background-color: var(--green);
  transform: rotate(60deg) translate(var(--przesuniecie)) rotate(-60deg);
}
div[id="2"]:hover {
  cursor: pointer;
  transform: rotate(60deg) translate(var(--przesuniecie)) rotate(-60deg)
    scale(var(--skala));
}
div[id="3"] {
  background-color: var(--orange);
  transform: rotate(120deg) translate(var(--przesuniecie)) rotate(-120deg);
}
div[id="3"]:hover {
  cursor: pointer;
  transform: rotate(120deg) translate(var(--przesuniecie)) rotate(-120deg)
    scale(var(--skala));
}
div[id="4"] {
  background-color: var(--yellow);
  transform: translate(calc(-1 * var(--przesuniecie)));
}
div[id="4"]:hover {
  cursor: pointer;
  transform: translate(calc(-1 * var(--przesuniecie))) scale(var(--skala));
}
div[id="5"] {
  background-color: var(--blue);
  transform: rotate(240deg) translate(var(--przesuniecie)) rotate(-240deg);
}
div[id="5"]:hover {
  cursor: pointer;
  transform: rotate(240deg) translate(var(--przesuniecie)) rotate(-240deg)
    scale(var(--skala));
}
div[id="6"] {
  background-color: var(--red);
  transform: rotate(300deg) translate(var(--przesuniecie)) rotate(-300deg);
}
div[id="6"]:hover {
  cursor: pointer;
  transform: rotate(300deg) translate(var(--przesuniecie)) rotate(-300deg)
    scale(var(--skala));
}
#popup {
  /* z-index: 2; */
  position: fixed;
  overflow: hidden;
  width: 60%;
  height: 60%;
  background-color: var(--white);
  opacity: 0.8;
  border-radius: 50%;
  border: solid var(--black) 3px;
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
#tekst {
  overflow: hidden;
  margin: auto;
  width: 100%;
  height: 50%;
  text-align: center;
  padding: 2% 10% 2%;
}
h1 {
  margin: 0;
  font-size: 1rem;
}
p {
  margin: 3% 0;
  font-size: 0.8rem;
}
#zamknij {
  width: 20%;
  color: white;
  background-color: var(--blue);
  border: solid 2px darkblue;
  border-radius: 0.25rem;
  vertical-align: middle;
  font-size: calc(var(--cyferki) / 5);
  background-image: radial-gradient(
    hsla(0, 0%, 0%, 0.2),
    hsla(0, 0%, 0%, 0.1),
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0.1)
  );
}
#zamknij:hover {
  animation: pulse 2s linear infinite;
}
#narzuta {
  /* z-index: 1; */
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.4;
}
@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes malej {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@media screen and (orientation: portrait) {
  :root {
    --cyferki: 20vw;
    --rozmiar: 25vw;
    --przesuniecie: 35vw;
    --gra: 100vw;
    font-size: 4vw;
  }
}
